<%- include('header') -%>

    <!-- <h1>It's a <%= listTitle %> </h1> -->
   <!-- <% if (listTitle ==='Saturday' || listTitle ==='Sunday'){ %>
    <h1 style="color:blue;"><%= listTitle  %> ToDo List:</h1>
    <% } else{ %>
    <h1 style="color:darkorange;"><%= listTitle  %> ToDo List:</h1>
    <% } %> -->
    
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
            <% for (let index = 0; index < newListItems.length; index++) { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkBox" value="<%=newListItems[index]._id%>" onchange="this.form.submit()">
                        <p><%= newListItems[index].name %></p>
                    </div>
                    <!-- type="hidden" is used to send data without the user's knowledge so that we can handle functionalities -->
                    <input type="hidden" name="listName" value=<%= listTitle %>></input>
                </form>
            <% } %>
            <form action="/" method="post">
                <input type="text" name="newItem" id="" placeholder="New Item">
                <!-- the name and value in the button element are key value pairs; by checking the value, we will know what to render -->
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
    </div>

<%- include('footer') -%>
