<%- include('header') -%>

    <!-- <h1>It's a <%= listTitle %> </h1> -->
   <!-- <% if (listTitle ==='Saturday' || listTitle ==='Sunday'){ %>
    <h1 style="color:blue;"><%= listTitle  %> ToDo List:</h1>
    <% } else{ %>
    <h1 style="color:darkorange;"><%= listTitle  %> ToDo List:</h1>
    <% } %> -->
    
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
            <% for (let index = 0; index < newListItems.length; index++) { %>
                <div class="item">
                    <input type="checkbox" name="" id="">
                    <p><%= newListItems[index] %></p>
                </div>
            <% } %>
            <form action="/" method="post">
                <input type="text" name="newItem" id="" placeholder="New Item">
                <!-- the name and value in the button element are key value pairs; by checking the value, we will know what to render -->
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
    </div>

<%- include('footer') -%>
